code {
    white-space: pre-wrap;
}

.blog-post-extra {
  font-size: 0.75rem;
}

p.blog-post-description {
  margin-top: 5px;
}

.highlight .hll {
  background-color: #007cff29;
}

.container-info {
  display: inline-block;
  position: relative;
  width: 100%;
  padding: 25px;
  text-align: center;
}
.container-main {
  display: inline-block;
  position: relative;
  width: 100%;
  padding: 25px;
  min-height: 490px;
}

.md-typeset .blog-post-title {
  font-weight: 500;
}

.md-typeset h1 {
  font-weight: 600;
}

.md-typeset h2 {
  font-weight: 600;
}

.md-typeset h3 {
  font-weight: 600;
}

@media (max-width: 500px) {
    .container-info{
      padding: 0px;
    }
    .container-main {
      padding: 0px;
    }
    .md-typeset h2 {
      margin:0px;
    }
    .md-typeset {
      font-size: .7rem;
    }
    .md-header__inner {
      padding: 0;
    }
  }

  @media (min-width: 1000px) {
    .container-info {
      float: left;
      /*position: fixed;*/
      left: 0;
      top: 0;
      height: 100%;
      width: 50%;
    }
    .container-main {
      float: right;
      /*position: fixed;*/
      right: 0;
      top: 0;
      height: 100%;
      width: 50%;
    }
  }
