code {
    white-space: pre-wrap;
}

.highlight .hll {
  background-color: #007cff29;
}

.container-info {
  display: inline-block;
  position: relative;
  width: 100%;
  padding: 25px;
  text-align: center;
}
.container-main {
  display: inline-block;
  position: relative;
  width: 100%;
  padding: 25px;
  min-height: 490px;
}
  @media (max-width: 500px) {
    .container-info{
      padding: 0px;
    }
    .container-main {
      padding: 0px;
    }
    .md-typeset h2 {
      margin:0px;
    }
    .md-typeset {
      font-size: .7rem;
    }
    .md-header__inner {
      padding: 0;
    }
  }

  @media (min-width: 1000px) {
    .container-info {
      float: left;
      /*position: fixed;*/
      left: 0;
      top: 0;
      height: 100%;
      width: 50%;
    }
    .container-main {
      float: right;
      /*position: fixed;*/
      right: 0;
      top: 0;
      height: 100%;
      width: 50%;
    }
  }
