code {
    white-space: pre-wrap;
}

 /* Split the screen in half */
.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

/* Control the left side */
.left {
  left: 0;
}

/* Control the right side */
.right {
  right: 0;
}

.container-info h2 {
  margin-top: 1em;
}
.container-info {
  display: inline-block;
  position: relative;
  width: 100%;
  text-align: center;

}
@media (min-width: 1000px) {
  .container-info {
    float: left;
    /*position: fixed;*/
    left: 0;
    top: 0;
    height: 100%;
    width: 50%; }
 }

.container-main h2 {
  margin-top: 1em;
}
.container-main {
  display: inline-block;
  position: relative;
  width: 100%;
  min-height: 490px;
  padding: 25px;
}
@media (min-width: 1000px) {
  .container-main {
    float: right;
    /*position: fixed;*/
    right: 0;
    top: 0;
    height: 100%;
    width: 50%; }
}
